@font-face {
  font-family: 'NotoSans-Italic';
  src: url(./NotoSans-Italic.eot);
  src: url(./NotoSans-Italic.eot?#iefix) format('embedded-opentype'),
       url(./NotoSans-Italic.woff2) format('woff2'),
       url(./NotoSans-Italic.woff) format('woff'),
       url(./NotoSans-Italic.otf) format('otf'),
       url(./NotoSans-Italic.ttf) format('truetype'),
       url(./NotoSans-Italic.svg#NotoSans-Italic) format('svg');
}
